# Pastas do sistema
__pycache__/
*.py[cod]
*$py.class
*.so

# Ambiente virtual
.venv/
venv/
env/

# Variáveis de ambiente
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
*.sublime-project
*.sublime-workspace

# Reports e Logs
reports/
output/
*.log

# OS
.DS_Store
Thumbs.db

# Anotações e estudos
anotacoes/

# Cache
.pytest_cache/
.behave/
